[Desktop Entry]
Encoding=UTF-8
Name=Neubot
Comment=Open Neubot GUI
Type=Application
Exec=@PREFIX@/bin/neubot_gui
Terminal=False
Categories=GNOME;Network;
StartupNotify=True
Icon=@PREFIX@/share/icons/hicolor/scalable/apps/neubot.svg
