[Desktop Entry]
Type=Application
Exec=@PREFIX@/bin/neubot on_gui_login
Hidden=False
NoDisplay=False
X-GNOME-Autostart-enabled=true
Name=Neubot check for updates
