[Desktop Entry]
Type=Application
Exec=@PREFIX@/bin/neubot_notify
Hidden=False
NoDisplay=False
X-GNOME-Autostart-enabled=true
Name=Neubot notifications
