[Desktop Entry]
Encoding=UTF-8
Name=Neubot Network Neutrality Bot
Comment=Open Neubot GUI
Type=Application
Exec=@BINDIR@/neubot viewer
Terminal=False
Categories=GNOME;Network;
StartupNotify=True
Icon=@DATADIR@/icons/hicolor/scalable/apps/neubot.svg
