#content ul.projectseven-uberlist 
{
margin-left: -1.5em;
list-style: none outside url('images/sqpurple.gif');
}

ul.projectseven-uberlist li { margin: 0 0 10px 0; }

ul.projectseven-uberlist li
{
display: block;
padding: 5px 5px 5px 1.5em;
border: 1px solid #D4D4D4;
width: 50%;
/* background-color: #999; */
/* background-image: url(images/l1_down.gif); */
}

ul.projectseven-uberlist li, .projectseven-uberlist li 
{
color: #D4D4D4;
text-decoration: none;
}

ul.projectseven-uberlist li#running
{
color: #777;
border: 1px solid #777;
background-image: url('images/libg.gif');
background-repeat: no-repeat;
background-position: 0% 0%;
}

ul.projectseven-uberlist li#done
{
color: #000;
border: 1px solid #000;
background-color: #777;
}

ul.projectseven-uberlist li#ready
{
color: #777;
border: 1px dashed #777;
}

ul.projectseven-uberlist li#active, .projectseven-uberlist li#active, .projectseven-uberlist li#active
{
border: 1px solid #333;
background-color: #FF6600;
background-image: url(images/l1_over.gif);
color: #333;
}
