Package: neubot
Version: 0.0.5-1
Architecture: all
Maintainer: Simone Basso <bassosimone@gmail.com>
Installed-Size: 170
Depends: python2.6
Section: net
Homepage: http://nexa.polito.it/neubot
Priority: optional
Description: Network Neutrality Bot (Neubot)
 The "Network Neutrality Bot" (Neubot) is a software that measures in a
 distributed way network neutrality violations (such as peer-to-peer traffic
 discrimination).
