[Desktop Entry]
Encoding=UTF-8
Name=Neubot (Show status icon)
Comment=Show neubot status icon in the notification area
Type=Application
Exec=/usr/bin/neubot statusicon -n
Terminal=False
Categories=GNOME;Network;
StartupNotify=True
Icon=/usr/share/icons/hicolor/scalable/apps/neubot.svg
