[Desktop Entry]
Encoding=UTF-8
Name=Neubot (Open web UI)
Comment=Open neubot web UI in the default browser
Type=Application
Exec=/usr/bin/neubot
Terminal=False
Categories=GNOME;Network;
StartupNotify=True
