Package: neubot
Version: 0.4.14-1
Architecture: all
Maintainer: Simone Basso <bassosimone@gmail.com>
Installed-Size: @SIZE@
Conflicts: neubot-nox
Pre-Depends: python (>= 2.5), procps (>= 1:3.2.7)
Depends: cron (>= 3.0pl1-105), bsdutils (>= 1:2.13.1.1-1), python-webkit (>= 1.1.7-1), python-notify (>= 0.1.1-2)
Section: net
Homepage: http://www.neubot.org/
Priority: optional
Description: Network neutrality bot
 Neubot is a research project on network neutrality of the NEXA Center
 for Internet & Society at Politecnico di Torino. The project is based
 on a lightweight open source program that interested users can download
 and install on their computers. The program runs in the background and
 periodically performs transmission tests with test servers, hosted by
 the distributed Measurement Lab platform, and (in future) with other
 instances of the program itself.  Transmission tests probe the Internet
 using various application level protocols and test results are saved both
 locally and on the test servers. The results dataset contains samples
 from various Providers and is published on the web, allowing anyone to
 analyze the data for research purposes.
